.inputLogin{
   /* border: 0 0 2px 0; */
   
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 100%;
}

#formLogin{
    
    border: 3px solid green;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
}

#formTitulo{
   color: rgb(86, 86, 252);
   padding-left: 35%;
}

#img{
    padding-left: 25%;
    max-width: 50%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#esqueceuSenha{
    border: none;
    padding-left: 200px;
}

#esseAqui{
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
}
 
#button1{
    width: 55%;
    background-color: green;
    border-color: green;
    color: aliceblue;
    font-size: 20px;
    

  text-align: center;

    
}
