* {
    margin: 0;
    padding: 0%;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.container-site {
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
}
.grid {
 display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 2px;
width: 80vw; 

}
header {
    background-color: green;
    width: 50vw;
    max-width: 100vw;
    height: 10vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
.card{
    width: 10vw;
    height: 10vh;
    border: 2px solid black;
    margin-top: 5vh;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.card.out-of-stock {
    opacity: 0.5;
    background-color: #f0f0f0;
    border-color: #ccc;
}

.card.out-of-stock::after {
    content: 'Adotado';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    white-space: nowrap;
    z-index: 10;
}

.flex {
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: green;
}