body {
    margin: 0;
    height: 100vh;                 
    display: flex;                 
    justify-content: center;       
    align-items: center;           
}

#formMargem{
   
    border: 3px solid green;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    margin: auto;
    border: 3px solid green;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
   
}

#titulo{
    width: 100%;
    background: white;  
    color: rgb(24, 179, 240);
    padding: 10px;
    text-align: center;
}

.inputContainer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 30px;
  text-align: center;
}

.inputLogin{
   /* border: 0 0 2px 0; */

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 25%;
   
    
}


#botaoCriarConta{
    width: 50%;
    background-color: green;
    border-color: green;
    color: aliceblue;
    font-size: 20px;
    border: none;
    inline-size: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin: auto;
    margin-bottom: 30%;
    border-radius: 5px;
    font-size: 120%;
    cursor: pointer;

}

