body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    background-color: green;
    height: 2px;
    width: 100%;
}

h1{
    font-size: 30px;
}Z

h3{
    font-style: italic;
}


#formLogin{
    border: 3px solid green;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons button{
    min-width: 40vw;
    background-color: rgb(79, 223, 79);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.buttons button:hover{
    transition: 0.5s;
    background-color: rgb(55, 133, 55);
}

.imagem2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




#button1{
    width: 50%;
    background-color: green;
    border-color: green;
    color: aliceblue;
    font-size: 20px;
    border: none;
    /* text-align: center; */
    inline-size: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin: auto;
    border-radius: 5px;
    font-size: 120%;
}

.logout{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

